extends layout

block content
  div.container
    div.content
      img(src='images/cube_animated_gif_by_retsamys-d5f8jzu.gif', alt="sample GIF file"
        data-toggle="tooltip" data-placement="right"
        data-template="<div class='tooltip' role='tooltip'><div class='tooltip-arrow'></div><div class='tooltip-inner wide'></div></div>"           
        title="This is a creative commons free license image courtesy of http://retsamys.deviantart.com/art/Cube-animated-GIF-327924282")
      p.mTop10   
        a(href="/"
            data-toggle="tooltip" data-placement="bottom"           
            title="Go back to upload a GIF") << back&nbsp;&nbsp;
        a(href="images/cube_animated_gif_by_retsamys-d5f8jzu.gif" download
            data-toggle="tooltip" data-placement="bottom"
            title="download this sample GIF file") download